<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44488430414-aog9721dddr29f6tbh2dcl1v927pg3ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44488430414-aog9721dddr29f6tbh2dcl1v927pg3ho</string>
	<key>API_KEY</key>
	<string>AIzaSyBYlV0Lr_18fVOTVVZK6EwoanOMBOe4Muw</string>
	<key>GCM_SENDER_ID</key>
	<string>44488430414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heliocor.DKSDK</string>
	<key>PROJECT_ID</key>
	<string>dokstorsdk</string>
	<key>STORAGE_BUCKET</key>
	<string>dokstorsdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44488430414:ios:55e8765622cd60869fc41f</string>
	<key>DATABASE_URL</key>
	<string>https://dokstorsdk.firebaseio.com</string>
</dict>
</plist>